*{
    margin: 0;
    padding: 0;
}

select {
    border-radius: 5px;
}

#firstItem{
    color: #cccccc;
}

textarea{
    resize: none;
    height: 200px;
}

#whatsappGerado{
    height: 100px;
}

.botaoCopiar:hover{
    background-color:#81f6bf;
}